@CHARSET "UTF-8";

.autoMargin{
	margin-left: auto;
	margin-right: auto;
}

.standardData{
	border-radius : 10px;
	border-style: solid;
	/*overflow: auto;*/
	
}

.displayTable{
	display: table;
}

.displayRow{
	display: table-row;
}
.displayRow:first-child .displayCell{
	padding-top: 10px;
}
.displayRow:last-child .displayCell{
	padding-right: 10px;
}

.displayRow:nth-child(odd){
	background-color: LightGrey;
}

.displayCell{
	padding: 5px;
	display: table-cell;
}

.highlight{
	background: LightBlue;
}

.formElement{
	display:inline-block;
	width: 200px;
}